body {
    font-family: Arial, sans-serif;
    background-color: #000312;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0
}

#edit-form {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#edit-form h2 {
    margin: 0 0 15px;
    text-align: center;
    font-size: 1.5em;
}

#input-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#input-list label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9em;
}

#input-list input {
    width: 100%;
    padding: 10px;

    border: none;
    box-shadow: 1px 1px rgba(128, 128, 128, 0.155);
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 0.9em;

    background-color: #28282540;
}

#input-list input:focus {
    outline: none;
    border-color: #333;
}

#input-list button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#input-list button:hover {
    background-color: #333;
}

#item-id {
    padding: 3px;
    font-weight: bold;

    background-color: #000;
    color: white;

    border-radius: 10px;
}